<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# Rewrite
RewriteEngine On

RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Rules
# Redirect all traffic to index
RewriteRule . index.php [L]